# python miljø
.venv/
.vi/

# jupyter notebook
.ipynb_checkpoints
__pycache__/

# IDUN
*.out
out/
logs/
output/

# models
*.pth 
*.pkl

# liver figures
liver/

#code carbon
emissions.csv

# data 
dataset/